body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #2c0b88;
    border: 3px solid blue;
    border-radius: 13px;
}


.gallery{
    display: flex;
   gap: -10px;
   justify-content: space-between;
  
   align-items:center;
  
   height:  50vh;
   margin: 0 auto;
   
   
 

.gallery img{
    border-radius: 10px;
    transition: transform 0.3s;
    max-width: 100px;
   height: auto;
   object-fit: cover;
   flex-grow: 1;

   
    
}

.gallery img:hover{
    transform: scale(1.05);
}
.gallery img:active{
    transform: scale(1.05);
}
.prg{
    background-color: rgb(12, 12, 226);
}
#head{
    background-color: aqua;
    border-radius: 20px;
    width: 100%;

}
#link:hover{
  transform: scale(1.05);

}
#link{
    background-color: rgb(163, 131, 23);
    border-radius: 10px;
    width: 50px;
    color: black;
    border: 2px solid white;

}
.img{
    display: none;
    position: absolute;
}
.chip:hover .img{
    display: inline-flex;
    gap:initial;

}

#img1{
    width:300px ;
    height:150px ;
   padding-right: 0px;
 
}
#img2{
    width:300px ;
    height:150px ;
}
#img3{
    width:300px ;
    height:150px ;
}
#img4{
    width:350px ;
    height:150px ;
}
footer{
    border: 3px solid blue;
    border-radius: 2px;
    background-color: blue;
}
